.ni-info {
    height:auto;
    width:100%;
    line-height:35px;
    background-color:rgb(38, 38, 38);
}

.txt-admin {
    height:20px;
    width:150px;
    border:none;
    border-radius:5px;
    margin-top:8px;
}

.txt-admin:focus {
    border:none;
}

.admin_signin {
    height:20px;
    width:60px;
    line-height:20px;
    border:none;
    border-radius:5px;
    background-color:darkcyan;
    margin-top:8px;
}


.nav-link-ybf{
    color:black;
    padding:11px 20px;
}

.nav-link-ybf:hover {
     color: white;
     text-decoration:dashed;
     background-color:darkcyan;
 }

.dropdown-menu a:hover{
    color:white;
}

.ybf-drp-menu{
    background-color:rgb(121, 207, 194);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

/*Logobar*/

.col-logo-bar {
    background-image: url('../images/Home/home_cover.jpg');
    background-position: center;
    background-size: cover;
}

.col-logo {
    height: 150px;
    width: 150px;
}

.dpt-name {
    font-size:4.8rem;
    text-shadow: 4px 4px 8px #ff0000;
    letter-spacing:7px;
}

.dpt-sub-head {
    text-shadow: 2px 2px 4px #000000;
    font-size:2.7rem;
}

.dpt-sub-head2 {
    text-shadow: 2px 2px 4px #000000;
    font-size:1.7rem;
}



@media screen and (max-width:600px){
    .dpt-name{
        font-size:1.8rem;
        letter-spacing:0;
    }
    .dpt-sub-head{
        font-size:1rem;
    }

    .nav-navbar{
        align-items:center;
    }
    .nav-item{
        text-align:center;
    }

    .nav-link-ybf{
        display:block;
    }

    .text-sm-ph{
        font-size:0.8rem;
    }

    .col-logo{
        margin-top:20px;
        width:70px;
        height:70px;
    }

    .dpt-sub-head2 {
        text-shadow: 2px 2px 4px #000000;
        font-size:1rem;
    }

}

.hr-ybf{
    width:30%;
    height:2px;
    color:darkcyan;
}

/* Custom list*/

.ni-list,
.ni-list-item{
  padding: 0;
  margin: 0;
  list-style: none;
}

.ni-list {
  margin: 2em 0;
}

.ni-list-item{
  margin: 1em;
  margin-left: 3em;
}

.ni-list-item:before {
  content: '\f006';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}


/*Submenu*/


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: black;
    margin-top: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*Syllabus*/

#main {
            margin: 50px 0;
        }

            #main #faq .card {
                margin-bottom: 30px;
                border: 0;
            }

                #main #faq .card .card-header {
                    border: 0;
                    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
                    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
                    border-radius: 2px;
                    padding: 0;
                }

                    #main #faq .card .card-header .btn-header-link {
                        color: #fff;
                        display: block;
                        text-align: left;
                        background: #6351ce;
                        padding: 20px;
                    }

                        #main #faq .card .card-header .btn-header-link:after {
                            content: "\f107";
                            font-family: 'Font Awesome 5 pro';
                            font-weight: 900;
                            float: right;
                        }

                        #main #faq .card .card-header .btn-header-link.collapsed {
                            background: #A541BB;
                            color: #fff;
                        }

                            #main #faq .card .card-header .btn-header-link.collapsed:after {
                                content: "\f106";
                            }

                #main #faq .card .collapsing {
                    background: #6351ce;
                    line-height: 30px;
                }

                #main #faq .card .collapse {
                    border: 0;
                }

                    #main #faq .card .collapse.show {
                        background: #6351ce;
                        line-height: 30px;
                        color: #fff;
                    }

                    #main ul li a{
                        color:white;
                    }

        .hr-warning {
            background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
        }

        .hr-success {
            background-image: -webkit-linear-gradient(left, rgba(0,0,0,0),rgba(15,157,88,.8), rgba(15, 157, 88,.8), rgba(0,0,0,0));
        }

        .hr-primary {
            background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(66,133,244,.8), rgba(66, 133, 244,.6),rgba(0,0,0,0));
        }

        .hr-danger {
            background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
        }

        table {
            width: 90%;
            border:2px solid;
            
        }

            table tr{
                vertical-align: middle;
                text-align: center;
                margin: 0 auto;
                border:solid 1px;
            }

                table tr td,table tr th {
                    margin: 0 auto;
                    padding: 0;
                    font-weight:bold;
                    border:solid 1px;
                }